* {
    margin:0;
    padding:0;
    font-family:'Kumbh Sans', sans-serif;
}

body {
    width:100%;
}

li {
    list-style-type:none;
}

a {
    text-decoration: none;
}

.main-btn {
    border:none;
    border-radius:5px;
    margin:1em 0;
    padding:0.8rem;
    background-color:hsl(26, 100%, 55%);
    color:white;
    font-weight:700;
    letter-spacing: 1px;
    font-size:0.9rem;
}

.navbar {
    width:100%;
    position:relative;
}

.main-nav {
    width:90%;
    margin:1em auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.logo-menu-section {
    width:60%;
}

.logo-menu-section img:nth-of-type(2) {
    width:75%;
    margin-left:0.5em;
}

.user-section {
    width:40%;
    display:flex;
    justify-content: flex-end;
    align-items:center;
    position:relative;
}

.user-section img {
    width:20%;
    margin-left:1em;
}

#avatar-img {
    box-sizing:border-box;
}

#cart-qnty {
    background-color:hsl(26, 100%, 55%);
    color:white;
    font-size:0.7rem;
    padding:0.2rem 0.7rem;
    border-radius:10px;
    position:absolute;
    top:-30%;
    right:20%;
    display:none;
}

.nav-menu {
    width:70%;
    position:absolute;
    left:-100%;
    top:0;
    z-index: 1;
    height:100vh;
    background-color:white;
    transition:left .8s;
}

#close-icon {
    margin-left:1em;
}

.nav-items {
    margin:2em 0 0 1em;
}

.nav-item:not(:first-of-type) {
    margin-top:1em;
}

.nav-item a {
    font-size:1.1rem;
    color:hsl(220, 13%, 13%);
    font-weight: 700;
}

.active-menu {
    left:0;
}

hr {
    display:none;
}

main {
    height:100vh;
    width:100%;
    position:relative;
    display:flex;
    flex-direction: column;
    align-items: center;
}

#cart-img:hover,
#avatar-img:hover,
#add-cart-btn:hover,
.change-qnty:hover,
.thumbnails .thumbnail:hover,
.nav-item:hover,
#lightbox-close:hover,
.gallery-btn:hover,
.bin-icon img:hover  
{
    cursor:pointer;
}

#avatar-img:hover {
    border-radius:50%;
    border:2px solid hsl(26, 100%, 55%);
}

#overlay {
    display:none;
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:hsla(0, 0%, 0%, 0.75);
    z-index:1;
    cursor:pointer;
}

.cart-container {
    position:absolute;
    z-index:1;
    width:95%;
    left:2.5%;
    top:1%;
    max-height:0;
    overflow:hidden;
    background-color:white;
    border-radius:5px;
    transition:max-height 0.5s;
}

.cart-container > p {
    font-size:1rem;
    font-weight: 700;
    color:hsl(220, 13%, 13%);
    width:90%;
    margin:1em auto 0;
    height:5vh;
}

.empty-cart-text {
    text-align:center;
    line-height:25vh;
    vertical-align: middle;
    font-weight:700;
    color:hsl(219, 9%, 45%);
}

.products-container {
    border-top:1px solid hsl(220, 14%, 75%);
    height:25vh;
    display:flex;
    flex-direction:column;
}

.product-container {
    width:90%;
    margin:1em auto;
    display:flex;
    justify-content: space-between;
    align-items:center;
}

.cart-thumbnail {
    width:20%;
    height:100%;
}

.cart-thumbnail img {
    width:90%;
    line-height: 100%;
    vertical-align: middle;
    border-radius:10%;
}

.cart-info {
    width:60%;
    margin:0 auto;
    color:hsl(219, 9%, 45%);
}

.cart-info div:first-of-type {
    font-size:0.8rem;
}

.cart-info span {
    margin-right:0.5em;
    font-size:0.8rem;
}

.cart-info .final-price {
    font-weight:700;
    color:hsl(220, 13%, 13%);
}

.bin-icon {
    width:10%;
}

.active-cart {
    max-height:30vh;
}

#checkout-btn {
    width:90%;
    margin:0 auto;
    display:none;
    justify-content: flex-end;
}

.thumbnails {
    display:none;
}

.product-main-image {
    width:100%;
}

.active-thumb {
    opacity:0.5;
    border:3px solid hsl(26, 100%, 55%);
}

.main-gallery {
    position:relative;
}

.main-gallery .gallery-btns {
    margin:auto 0.5em;
    position:absolute;
    top:50%;
    left:0;
    right:0;
}

.gallery-btn {
    border-radius:50%;
    border:none;
    background-color:white;
    width:3em;
    height:3em;
}

.gallery-btn svg {
    vertical-align:middle;
    line-height:100%;
}

.gallery-btn:first-of-type {
    float:left;
}

.gallery-btn:nth-of-type(2) {
    float:right;
}

.lightbox-gallery {
    display:none;
}

#product-section {
    width:90%;
    margin:1em auto 0;
}

#product-company {
    text-transform:uppercase;
    font-size:0.7rem;
    color:hsl(26, 100%, 55%);
    font-weight:700;
    letter-spacing:1px;
}

#product-name {
    width:80%;
    font-size:1.2rem;
    font-weight:700;
    color:hsl(220, 13%, 13%);
    margin:0.5em 0;
}

#product-info {
    color:hsl(219, 9%, 45%);
    font-size:0.9rem;
}

.product-price {
    margin-top:1em;
    display:flex;
    justify-content: flex-start;
    align-items:center;
}

.price-info {
    height:100%;
}

.price-info span {
    line-height:100%;
    vertical-align:middle;
}

#product-price {
    color:hsl(220, 13%, 13%);
    font-weight:700;
    font-size:1.5rem;
}

#product-sale {
    font-size:0.9rem;
    font-weight: 700;
    color:hsl(26, 100%, 55%);
    padding:0.2rem 0.5rem;
    background-color:hsl(25, 100%, 94%);
    border-radius:5px;
    margin-left:0.5em;
}

#product-init-price {
    margin-left:auto;
    color:hsl(220, 14%, 75%);
    font-weight:700;
    text-decoration: line-through;
}

.quantity-sel {
    background-color:hsl(223, 64%, 98%);
    border-radius:5px;
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding:1rem 0;
}

.quantity-sel span {
    color:hsl(220, 13%, 13%);
    font-weight: 700;
}

.quantity-sel img:first-of-type {
    margin-left:0.5em;
}

.quantity-sel img:nth-of-type(2) {
    margin-right:0.5em;
}

.add-cart-section {
    margin-top:1em;
}

#add-cart-btn {
    height:100%;
    width:100%;
} 

#add-cart-btn img,
#add-cart-btn span  {
    vertical-align:middle;
}

#add-cart-btn img {
    margin-right:1em;
    filter:contrast(100) invert(1);
}

#add-cart-btn:hover {
    opacity:0.8;
}


@media screen and (min-width:500px) {
    .logo-menu-section img:nth-of-type(2) {
        width:40%;
    }

    .user-section img {
        width:15%;
    }

    #cart-qnty {
        right:15%;
        top:-20%;
    }

    .quantity-sel {
        width:70%;
        margin:1em auto;
    }

    #add-cart-btn {
        width:70%;
        margin:1em auto;
        padding:0.8rem 0;
        display:block;
    }
}

@media screen and (min-width:800px) {
    #cart-img {
        width:8%;
    }

    #avatar-img {
        width:13%;
    }

    .logo-menu-section img:nth-of-type(2) {
        width:30%;
    }

    #cart-qnty {
        right:13%;
        top:-10%;
    }
}

@media screen and (min-width:1000px) {
    main {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }

    .nav-menu {
        width:100%;
        position:static;
        height:100%;
        background-color:transparent;
        transition:none;
    }

    .main-nav {
        border-bottom:1px solid hsl(220, 14%, 75%);
    }

    #close-icon {
        display:none;
    }

    #ham-icon {
        display:none;
    }

    .logo-menu-section {
        width:20%;
    }

    .logo-menu-section img:nth-of-type(2) {
        width:100%;
        margin-left:0;
    }

    .nav-menu {
        margin-left:1em;
        height:10vh;
        display:flex;
        justify-content: flex-start;
        align-items:center;
    }

    .nav-items {
        width:100%;
        margin:0;
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        align-items:center;
        position:relative;
    }

    .nav-item {
        width:15%;
        text-align:center;
    }

    .nav-item a {
        color:hsl(220, 14%, 75%);
        font-weight:400;
        font-size:0.8rem;
    }

    .nav-item a:hover {
        color:hsl(220, 13%, 13%);
    }

    .nav-item.nav-item:not(:first-of-type) {
        margin:0;
    }

    hr {
        display:block;
        margin:0;
        width:calc(75%/5);
        height:3px;
        border:none;
        position:absolute;
        bottom:-100%;
        right:0;
        left:0;
        background-color:hsl(26, 100%, 55%);
        transition:0.3s ease-in;
    }

    #cart-img {
        width:10%;
    }
    
    #avatar-img {
        width:20%;
    }

    #cart-qnty {
        right:20%;
        top:5%;
    }

    .cart-container {
        width:30%;
        top:-1%;
        right:0;
        left:60%;
        bottom:0;
        box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
    }

    #images-section {
        width:40%;
        margin-top:5em;
    }

    .main-gallery {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .main-gallery .gallery-btns {
        display:none;
    }

    .product-main-image {
        border-radius:10px;
    }

    .thumbnails {
        display:block;
        width:100%;
        margin-top:1em;
        height:15vh;
    }

    .thumbnails ul {
        height:100%;
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        align-items:center;
    }

    .thumbnail {
        width:20%;
        display:inline-block;   
    }

    .thumbnail img {
        box-sizing: border-box;
        width:100%;
        height:100%;
        border-radius:10px;
    }

    .thumbnail img:hover {
        border-radius:10px;
        border:3px solid hsl(26, 100%, 55%);
        opacity:0.5;
    }

    .lightbox-gallery {
        width:50%;
        height:100%;
        position:absolute;
        z-index:2;
        top:-15%;
        bottom:0;
        left:25%;
        right:0;
        flex-direction: column;
        align-items:center;
        justify-content:center;
        display:none;
    }

    .lightbox-gallery .product-main-image {
        width:80%;
    }
    
    .lightbox-gallery .thumbnails {
        width:80%;
    }

    .lightbox-gallery .gallery-btns {
        position:absolute;
        display:block;
        width:80%;
        z-index: 3;
        left:10%;
        top:40%;
        right:0;
        margin:auto 0;
    }

    .lightbox-gallery .gallery-btn:hover path {
        stroke:#ff7d1a;
    }

    #lightbox-close {
        margin-left:80%;
        margin-bottom:1em;
    }
    
    #lightbox-close:hover path {
        fill:#ff7d1a;
    }

    #product-section {
        margin:0;
        margin-top:15em;
        margin-left:5em;
        width:40%;
    }

    .product-price {
        flex-wrap:wrap;
    }

    .price-info {
        width:100%;
    }

    #product-name {
        font-size:2rem;
    }

    #product-info {
        font-size:0.8rem;
    }

    #product-init-price {
        margin-left:0;
        margin-top:0.5em;
    }

    .add-cart-section {
        display:flex;
        justify-content: space-between;
    }

    .quantity-sel {
        margin:0 auto;
        width:40%;
    }

    #add-cart-btn {
        width:50%;
    }
}

@media screen and (min-width:1440px) {
    .main-gallery .product-main-image,
    .main-gallery .thumbnails {
        width:80%;
    }

    .lightbox-gallery .product-main-image,
    .lightbox-gallery .thumbnails {
        width:60%;
    }

    #cart-img {
        width:6%;
    }

    #cart-qnty {
        top:15%;
        font-size:0.8rem;
    }
}

@media screen and (min-width:1600px) {
    .logo-menu-section {
        width:10%;
    }

    .nav-items {
        width:50%;
        margin:0 0 0 4em;
    }

    .user-section img {
        margin-left:2em;
    }

    #cart-img {
        width:8%;
    }

    #avatar-img {
        width:15%;
    }

    #cart-qnty {
        top:5%;
    }

    .cart-container {
        width:20%;
        top:-5%;
        right:0;
        left:70%;
        bottom:0;
        box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
    }

    .main-gallery .product-main-image,
    .lightbox-gallery .product-main-image {
        width:50%;
    }

    .lightbox-gallery .thumbnails,
    .main-gallery .thumbnails {
        width:50%;
    }

    .gallery-btns {
        width:50%;
        left:25%;
    }

    #lightbox-close {
        margin-left:50%;
    }

    #product-section {
        margin-top:10em;
        margin-left:2em;
    }

    #product-company {
        font-size:1rem;
    }

    #product-info {
        font-size:1.1rem;
    }

    #product-name {
        font-size:2.5rem;
    }

    #product-init-price {
        font-size:1.5rem;
    }

    #product-price {
        font-size:2rem;
    }

    #product-sale {
        font-size:1.2rem;
    }

    #add-cart-btn {
        font-size:1rem;
    }
}